pip>=25.2
setuptools>=68.2.2
wheel>=0.42.0

fastapi==0.110.2
uvicorn==0.29.0
pydantic==1.10.13
requests==2.31.0
python-dotenv==1.0.1
pdfplumber==0.10.3
pinecone-client==3.2.2
tqdm==4.66.4
numpy==1.23.5
sentence-transformers==2.2.2
scipy==1.9.3
torch==2.1.0
transformers==4.31.0
